.container {
    height: 100%;
}

.slide__container {
    margin-top: 60px;
}

.main__container {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.slide__box {
    padding: 0 0 40px 0;
}

.title {
    text-align: center;
    font-size: 42px;
    opacity: 0.7;
}

.title a {
    color: #ffffff;
    text-decoration: none;
}

.title a:hover {
    text-decoration: underline;
}

.title a i {
    margin-right: 20px;
}